In [5]:
import pandas as pd

In [11]:
df = pd.DataFrame([[1, 2], [3, 4], [5, 6]], columns=['x', 'y',], index=['a', 'b', 'c'])

In [4]:
df

   a  b
0  1  3
1  2  4

In [9]:
df.head()

   x  y
0  1  2
1  3  4
2  5  6

In [10]:
df.tail()

   x  y
0  1  2
1  3  4
2  5  6

In [12]:
df

   x  y
a  1  2
b  3  4
c  5  6

In [13]:
df.head(1)

   x  y
a  1  2

In [14]:
df.tail(1)

   x  y
c  5  6

In [16]:
coffee = pd.read_csv('warmup-data/coffee.csv')

In [17]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [21]:
results = pd.read_parquet('data/results.parquet')

In [22]:
results.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None

In [28]:
coffee.sort_values('Units Sold', ascending=False)

          Day Coffee Type  Units Sold
10   Saturday    Espresso          45
8      Friday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35
11   Saturday       Latte          35
13     Sunday       Latte          35
9      Friday       Latte          35
2     Tuesday    Espresso          30
7    Thursday       Latte          30
0      Monday    Espresso          25
5   Wednesday       Latte          25
3     Tuesday       Latte          20
1      Monday       Latte          15